* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #333;
  background-color: #fff;
  margin: 0;
  font-family: "Jost", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.welcome-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: #0abede;
  font-family: "Poppins", sans-serif;
  color: #ccc;
}
.logout {
  background-color: #e4af60;
  color: #fff;
  text-align: center;
  border-radius: 100px;
  padding: 15px 30px;
  font-size: 16px;
  text-decoration: none;
  border: none;
  transition: all 0.35s;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* 
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  position: static; */
}

h2 {
  text-align: center;
  color: #fff;
  /* color: #281ca5; */
  padding: 5px;
}
form {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
  color: #fff;
  /* background-color: #2596be; */
  padding: 40px 80px;
}

label {
  margin-bottom: 5px;
}

input {
  width: 100%;
  height: 38px;
  color: #333;
  background-color: #ffffff66;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 1.42857;
  display: block;
}

.message-container {
  width: 450px; /* Adjust the width as needed */
}
textarea {
  /* border: 1px solid silver; */
  /* display: block; */
  /* vertical-align: middle; */

  border: 1px solid #ccc;
  width: 100%;
  height: 350px; /* Adjust the height as needed */
  font-size: 16px; /* Adjust the font size as needed */
  padding: 10px;
  resize: none;
  background-color: #ffffff66;
  font-family: "Poppins", sans-serif;
}

.formbtn {
  background-color: #e4af60;
  color: #fff;
  text-align: center;
  border-radius: 100px;
  padding: 15px 30px;
  font-size: 16px;
  text-decoration: none;
  border: none;
  transition: all 0.35s;
}

@media only screen and (min-width: 375px) {
  body {
    background-color: #081d7a;
  }
}
@media only screen and (max-width: 991px) {
  body {
    background-color: #2596be;
  }
}
