* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #333;
  background-color: #fff;
  margin: 0;
  font-family: "Jost", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
